amqp==5.2.0
asgiref==3.8.1
billiard==4.2.0
celery==5.4.0
certifi @ file:///C:/b/abs_7bbxxprxir/croot/certifi_1720453609121/work/certifi
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
Django==5.0.7
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
geographiclib @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/geographiclib_1699557226917/work
geopy @ file:///C:/b/abs_dbx91s4r8x/croot/geopy_1718112186059/work
idna==3.7
kombu==5.3.7
numpy==2.0.1
pandas==2.2.2
prompt_toolkit==3.0.47
psycopg2==2.9.9
PyJWT==2.8.0
pyproj @ file:///C:/b/abs_d9objdxwcx/croot/pyproj_1704901312909/work
python-dateutil==2.9.0.post0
pytz==2024.1
redis==5.0.8
requests==2.32.3
schedule==1.2.2
setuptools==69.5.1
six==1.16.0
sqlparse==0.5.1
tzdata==2024.1
ura-api==0.0.6
urllib3==2.2.2
vine==5.1.0
wcwidth==0.2.13
wheel==0.43.0
